<div class="container" style="padding-top: 10%;">
  <% if (resultado == 1) { %>
    <div class="alert alert-success" role="alert">
      Review Criada!
    </div>
  <% } if (resultado == 0) { %>
    <div class="alert alert-warning" role="alert">
      Review Não Criada! Verifique Os Dados.
    </div>
  <% } %>
  <h1 style="text-align: center;">Adicione Sua Review</h1>
  <form style="margin-left: 30%; margin-right: 30%;" action="/criarReview" method="post"> 
    <div class="form-group">
      <label for="titulo">Selecione Um Livro</label>
      <select class="form-control" id="titulo" name="titulo">
        <% for (let contador=0; contador < books.length; contador++) { %>
          <option><%= books[contador].titulo %></option>
        <% } %>
      </select>
    </div>
    <div class="form-group">
        <label for="descricao">O que voce achou desse livro?</label>
        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Coloque sua Review" rows="3">
    </div>
    <div class="form-group">
      <label for="nota">Dê uma nota</label>
      <select class="form-control" id="nota" name="nota">
        <% for (let contador=0; contador < 6; contador++) { %>
          <option><%= contador %></option>
        <% } %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Criar Review</button>
  </form>
</div>
