<div class="fundo1">
	<h2>Seja bem-vindo à Caverna do Goblin</h2>

	<p>
		Aqui na caverna nós mostramos um conjunto de trabalhos literários diferentes a cada semana.
		<br>
		Tanto aqueles que já leram estas obras ou os que sejam motivados a lê-las primeira vez poderão deixar Reviews de
		cada livro a serem compartilhadas com todos os usuários da Caverna.
	</p>
</div>