	<div id="top">
		<div id="titulo">
			<h1>
				Seja bem-vinde à Caverna do Goblin
			</h1>
		</div>
		<div id="intro">
			<p>
				Aqui na caverna nós mostramos um conjunto de trabalhos literários diferentes a cada semana.
				<br>
				Tanto aqueles que já leram estas obras ou os que sejam motivados a lê-las primeira vez poderão deixar Reviews de
				cada livro a serem compartilhadas com todos os usuários da Caverna.
			</p>
		</div>
	</div>
	
	<div class="frame">
		<div id="editor">
			Os livros te levam à lugares mágicos!
		</div>
		<div id="result">
			<canvas></canvas>
		</div>
	</div>
	<div id="resto">
		<div id="lista-books">
			<div class="book-da-semana">
				<h3>O Nome Do Vento</h3>
				<img src="https://m.media-amazon.com/images/I/51bRkcp1sLL.jpg" alt="capa">
			</div>
		</div>
	</div>
	<script src="/public/build/three-bundle.js"></script>