<div id="top">
	<h1>
		Seja bem-vinde à
	</h1>
	<div id="titulo">
		<h1>
			Caverna do Goblin
		</h1>
	</div>
</div>
<div id="intro">
	<p>
		Aqui na caverna nós mostramos um conjunto de trabalhos literários diferentes a cada semana.
		<br>
		Tanto aqueles que já leram estas obras ou os que sejam motivados a lê-las primeira vez poderão deixar Reviews de
		cada livro a serem compartilhadas com todos os usuários da Caverna.
	</p>
</div>

<div class="frame">
	<div id="editor">
		Os livros te levam à lugares mágicos!
	</div>
	<div id="result">
		<canvas id="fbook"></canvas>
	</div>
</div>

<div class="resto">
	<div class="container-fluid">
		<div class="title_2 row justify-content-center pl-5">
			<h2>Livros da Semana</h2>
		</div>
		<div class="row pt-5 pb-5 justify-content-center">
			<div class="col cardp">
				<div class="card">
					<img src="public/book_cover/book1.jpg" class="card-img-top" alt="book cover">
					<div class="card-body">
						<h5 class="card-title">Nome Do Filme</h5>
						<p class="card-text">Rapido resumo do filme</p>
						<a href="#" class="btn btn-primary">Reviews</a>
					</div>
				</div>
			</div>
			<div class="col cardp">
				<div class="card">
					<img src="public/book_cover/book1.jpg" class="card-img-top" alt="book cover">
					<div class="card-body">
						<h5 class="card-title">Nome Do Filme</h5>
						<p class="card-text">Rapido resumo do filme</p>
						<a href="#" class="btn btn-primary">Reviews</a>
					</div>
				</div>
			</div>
			<div class="col cardp">
				<div class="card">
					<img src="public/book_cover/book1.jpg" class="card-img-top" alt="book cover">
					<div class="card-body">
						<h5 class="card-title">Nome Do Filme</h5>
						<p class="card-text">Rapido resumo do filme</p>
						<a href="#" class="btn btn-primary">Ver reviews</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/public/build/three-bundle.js"></script>