body {
    color: whitesmoke;
    background-color: black;
}
@font-face{
    font-family: Marola;
    src: url("MAROLA__.TTF");
}
.frame { 
    display: flex;
    width: 100vw;
    height: 60vh;
}
#editor {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex: 1 1 40%;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(89, 236, 109);
    font-size: 55px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
canvas { 
    width: 75%;
    height: 75%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#top {
    background-color: black;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}
#result {
    flex: 1 1 60%;
    padding-right: 30px;
    align-items: center;
}
#titulo {
    font-family: Marola;
    font-size: 80px;
}
#titulo >*{
    font-size: 80px;
    background: -webkit-linear-gradient(rgb(31, 50, 221), rgb(164, 3, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 40px;
}
#intro {
    font-family: sans-serif;
}
#intro >*{
    font-size: 25px;
}
#navbar {
    background-color: black;
}
#resto {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(124, 207, 116);
    color: black;
}
#resto > div > img {
    border-style: solid;
    border-color: black;
}
#lista-books {
    margin: 20px;
} 
h3 {
    font-size: 35px;
    font-weight: 700;
}